In [ ]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
# Load dataset CSV (put the CSV inside data/ folder)
data_path = '/content/drive/MyDrive/MISC/resume_dataset.csv'

df = pd.read_csv(data_path)

In [ ]:
# Basic info
print("Dataset shape:", df.shape)

Dataset shape: (13389, 2)

In [ ]:
print("Columns:", df.columns)

Columns: Index(['Category', 'Text'], dtype='object')

In [ ]:
print(df.head())

     Category                                               Text
0  Accountant  ﻿________________\r\n\r\nEDUCATION\r\nOMBA - E...
1  Accountant  ﻿________________\r\n\r\nHOWARD GERRARD\r\nAcc...
2  Accountant  ﻿________________\r\n\r\nKevin Frank\r\nSENIOR...
3  Accountant  ﻿________________\r\n\r\nPlace of birth\r\nNat...
4  Accountant  ﻿________________\r\n\r\nStephen Greet, CPA\r\...

In [ ]:
# Check job title distribution
print(df['Category'].value_counts())

Category
Education                    410
Electrical Engineering       384
Mechanical Engineer          384
Consultant                   368
Sales                        364
Civil Engineer               364
Management                   361
Human Resources              360
Digital Media                358
Accountant                   350
Java Developer               348
Operations Manager           345
Building and Construction    345
Testing                      344
Architecture                 344
Aviation                     340
Business Analyst             340
Finance                      339
SQL Developer                338
Public Relations             337
Health and Fitness           332
Arts                         332
Network Security Engineer    330
DotNet Developer             329
Apparel                      320
Banking                      314
Automobile                   313
Web Designing                309
SAP Developer                304
Data Science                 299
ETL Developer                294
Agriculture                  293
Advocate                     291
DevOps                       289
PMO                          286
Information Technology       274
Designing                    258
Database                     257
Python Developer             248
BPO                          203
React Developer              182
Food and Beverages           162
Blockchain                    47
Name: count, dtype: int64

In [ ]:

# Quick stats
print(df.describe())

         Category                                               Text
count       13389                                              13389
unique         43                                              12175
top     Education  ﻿________________\r\n\r\nJUSTIN BAUMGARTER\r\n...
freq          410                                                  5

In [ ]:
# 02_data_cleaning_preprocessing.ipynb
import re

# Define stopwords (if not already)
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

def clean_text(text):
    # Lowercase
    text = text.lower()
    # Remove special characters and digits
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    # Remove extra whitespace
    text = re.sub(r'\s+', ' ', text).strip()
    # Remove stopwords
    tokens = text.split()
    tokens = [word for word in tokens if word not in stop_words]
    return ' '.join(tokens)

# Apply cleaning to resume text column (which is named 'Text')
df['Cleaned_Resume'] = df['Text'].apply(clean_text)

# Preview cleaned text
print(df[['Text', 'Cleaned_Resume']].head())

# Save cleaned data
df.to_csv('/content/drive/MyDrive/MISC/resume_cleaned.csv', index=False)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                                Text  \
0  ﻿________________\r\n\r\nEDUCATION\r\nOMBA - E...
1  ﻿________________\r\n\r\nHOWARD GERRARD\r\nAcc...
2  ﻿________________\r\n\r\nKevin Frank\r\nSENIOR...
3  ﻿________________\r\n\r\nPlace of birth\r\nNat...
4  ﻿________________\r\n\r\nStephen Greet, CPA\r\...

                                      Cleaned_Resume
0  education omba executive leadership university...
1  howard gerrard accountant deyjobcom birmingham...
2  kevin frank senior accountant inforesumekraftc...
3  place birth nationality olivia ogilvy accounta...
4  stephen greet cpa senior accountant year exper...